In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [20]:
current_df = pd.read_csv("final_merged.csv")
divi_df = pd.read_csv("dividends.csv")

In [21]:
current_df

,Unnamed: 0,ABEV,ABUD,ABV,ABW,ACCOB,ADC,ADSO,AED,AFTI,...,VO,FARM,GMCR,JVA,PEET,Excess Return on the Market,SMB,HML,MOM,USREC
0,31/07/1962,NaN,NaN,NaN,NaN,NaN,37.000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0628,0.0163,-0.0357,0.0055,0
1,31/08/1962,NaN,NaN,NaN,NaN,NaN,37.250,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0213,0.0125,-0.0121,-0.0058,0
2,30/09/1962,NaN,NaN,NaN,NaN,NaN,37.250,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,-0.0522,-0.0248,0.0134,0.0395,0
3,31/10/1962,NaN,NaN,NaN,NaN,NaN,33.375,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,-0.0005,-0.0401,0.0135,0.0075,0
4,30/11/1962,NaN,NaN,NaN,2.5,NaN,39.625,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.1087,0.0259,0.0099,-0.0717,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
697,31/08/2020,2.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,6.29,NaN,3.19,NaN,0.0763,-0.0022,-0.0293,0.0051,0
698,30/09/2020,2.26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,4.42,NaN,3.48,NaN,-0.0363,-0.0004,-0.0266,0.0305,0
699,31/10/2020,2.14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,3.47,NaN,3.81,NaN,-0.0210,0.0439,0.0419,-0.0303,0
700,30/11/2020,2.66,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,4.45,NaN,3.94,NaN,0.1247,0.0574,0.0199,-0.1225,0
701,31/12/2020,3.06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,4.67,NaN,3.84,NaN,0.0463,0.0483,-0.0156,-0.0242,0

In [22]:
divi_df.tail(30)

       PERMNO        date TICKER  DIVAMT
30788   93406  31/01/2017   BORN     NaN
30789   93406  28/02/2017   BORN     NaN
30790   93406  31/03/2017   BORN     NaN
30791   93406  28/04/2017   BORN     NaN
30792   93406  31/05/2017   BORN     NaN
30793   93406  30/06/2017   BORN     NaN
30794   93406  31/07/2017   BORN     NaN
30795   93406  31/08/2017   BORN     NaN
30796   93406  29/09/2017   BORN     NaN
30797   93406  31/10/2017   BORN     NaN
30798   93406  30/11/2017   BORN     NaN
30799   93406  29/12/2017   BORN     NaN
30800   93406  31/01/2018   BORN     NaN
30801   93406  28/02/2018   BORN     NaN
30802   93406  29/03/2018   BORN     NaN
30803   93406  30/04/2018   BORN     NaN
30804   93406  31/05/2018   BORN     NaN
30805   93406  29/06/2018   BORN     NaN
30806   93406  31/07/2018   BORN     NaN
30807   93406  31/08/2018   BORN     NaN
30808   93406  28/09/2018   BORN     NaN
30809   93406  31/10/2018   BORN     NaN
30810   93406  30/11/2018   BORN     NaN
30811   93406  31/12/2018   BORN     NaN
30812   93406  31/01/2019   BORN     NaN
30813   93406  28/02/2019   BORN     NaN
30814   93406  29/03/2019   BORN     NaN
30815   93406  30/04/2019   BORN     NaN
30816   93406  31/05/2019   BORN     NaN
30817   93406  28/06/2019   BORN     NaN

In [23]:
current_df.dtypes

Unnamed: 0                      object
ABEV                           float64
ABUD                           float64
ABV                            float64
ABW                            float64
                                ...
Excess Return on the Market    float64
SMB                            float64
HML                            float64
MOM                            float64
USREC                            int64
Length: 103, dtype: object

In [24]:
divi_df.dtypes

PERMNO      int64
date       object
TICKER     object
DIVAMT    float64
dtype: object

In [25]:
current_df["Unnamed: 0"] = pd.to_datetime(current_df["Unnamed: 0"], infer_datetime_format = True)
divi_df["date"] = pd.to_datetime(divi_df["date"], infer_datetime_format = True)

In [26]:
current_df.set_index("Unnamed: 0", inplace=True)
# divi_df.set_index("date", inplace=True)

In [27]:
current_df

,ABEV,ABUD,ABV,ABW,ACCOB,ADC,ADSO,AED,AFTI,BACA,...,VO,FARM,GMCR,JVA,PEET,Excess Return on the Market,SMB,HML,MOM,USREC
Unnamed: 0,,,,,,,,,,,,,,,,,,,,,
1962-07-31,NaN,NaN,NaN,NaN,NaN,37.000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0628,0.0163,-0.0357,0.0055,0
1962-08-31,NaN,NaN,NaN,NaN,NaN,37.250,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0213,0.0125,-0.0121,-0.0058,0
1962-09-30,NaN,NaN,NaN,NaN,NaN,37.250,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,-0.0522,-0.0248,0.0134,0.0395,0
1962-10-31,NaN,NaN,NaN,NaN,NaN,33.375,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,-0.0005,-0.0401,0.0135,0.0075,0
1962-11-30,NaN,NaN,NaN,2.5,NaN,39.625,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.1087,0.0259,0.0099,-0.0717,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-08-31,2.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,6.29,NaN,3.19,NaN,0.0763,-0.0022,-0.0293,0.0051,0
2020-09-30,2.26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,4.42,NaN,3.48,NaN,-0.0363,-0.0004,-0.0266,0.0305,0
2020-10-31,2.14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,3.47,NaN,3.81,NaN,-0.0210,0.0439,0.0419,-0.0303,0
2020-11-30,2.66,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,4.45,NaN,3.94,NaN,0.1247,0.0574,0.0199,-0.1225,0
2020-12-31,3.06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,4.67,NaN,3.84,NaN,0.0463,0.0483,-0.0156,-0.0242,0

In [30]:
divi_df

       PERMNO       date TICKER  DIVAMT
0       10225 1962-01-31    NaN     NaN
1       10225 1962-02-28    NaN   0.750
2       10225 1962-03-30    NaN     NaN
3       10225 1962-04-30    NaN     NaN
4       10225 1962-05-31    NaN   0.375
...       ...        ...    ...     ...
30813   93406 2019-02-28   BORN     NaN
30814   93406 2019-03-29   BORN     NaN
30815   93406 2019-04-30   BORN     NaN
30816   93406 2019-05-31   BORN     NaN
30817   93406 2019-06-28   BORN     NaN

[30818 rows x 4 columns]

In [34]:
divi_df.pivot_table(index = divi_df["date"], columns = "TICKER", values = "DIVAMT", aggfunc="first")

TICKER,ABEV,ABUD,ABV,ABW,ACCOB,ADC,ADSO,AED,AFTI,ALEC,...,TAP,TFI,THTR,TYLR,URS,VCGH,VCO,VO,WINEA,WINEB
date,,,,,,,,,,,,,,,,,,,,,
1962-07-31,NaN,NaN,NaN,NaN,NaN,0.300,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1962-08-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1962-09-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1962-10-31,NaN,NaN,NaN,NaN,NaN,0.300,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1962-11-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-09-30,NaN,NaN,NaN,NaN,NaN,0.600,NaN,NaN,NaN,NaN,...,NaN,0.08133,NaN,NaN,NaN,NaN,NaN,0.6628,NaN,NaN
2020-10-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.08312,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-11-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.08016,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-12-31,0.07897,NaN,NaN,NaN,NaN,0.620,NaN,NaN,NaN,NaN,...,NaN,0.06837,NaN,NaN,NaN,NaN,NaN,0.9373,NaN,NaN
2021-01-29,0.01487,NaN,NaN,NaN,NaN,0.207,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN