In [27]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [94]:
coffee_df = pd.read_excel("Monthly Return_Coffee Products.xlsx", parse_dates = True)
alc_df = pd.read_excel("Monthly Return_Alcoholic Products.xlsx", parse_dates = True)
nber_df = pd.read_csv("USREC.csv")
fama_df = pd.read_excel("FamaFrench.xlsx",  index_col = 0, parse_dates = True)

# Transforming Data Sets using Pivots

## coffee_df

In [95]:
coffee_df["Ticker Symbol"].unique()

array(['FARM', 'GMCR', 'PEET', 'JVA'], dtype=object)

In [96]:
coffee_df

,PERMNO,Names Date,Standard Industrial Classification Code,Ticker Symbol,Company Name,Price or Bid/Ask Average
0,34367,1972-12-29,2095,FARM,FARMER BROTHERS CO,-25.875
1,34367,1973-01-31,2095,FARM,FARMER BROTHERS CO,-20.500
2,34367,1973-02-28,2095,FARM,FARMER BROTHERS CO,-17.250
3,34367,1973-03-30,2095,FARM,FARMER BROTHERS CO,-16.125
4,34367,1973-04-30,2095,FARM,FARMER BROTHERS CO,-12.875
...,...,...,...,...,...,...
1114,90679,2021-08-31,2095,JVA,COFFEE HOLDING CO INC,4.970
1115,90679,2021-09-30,2095,JVA,COFFEE HOLDING CO INC,4.550
1116,90679,2021-10-29,2095,JVA,COFFEE HOLDING CO INC,4.440
1117,90679,2021-11-30,2095,JVA,COFFEE HOLDING CO INC,4.390
1118,90679,2021-12-31,2095,JVA,COFFEE HOLDING CO INC,4.390

In [97]:
coffee_df.dtypes

PERMNO                                              int64
Names Date                                 datetime64[ns]
Standard Industrial Classification Code             int64
Ticker Symbol                                      object
Company Name                                       object
Price or Bid/Ask Average                          float64
dtype: object

In [98]:
coffee_df.index

RangeIndex(start=0, stop=1119, step=1)

In [99]:
coffee_pivot = coffee_df.pivot(index = "Names Date", columns = "Ticker Symbol", values = "Price or Bid/Ask Average")
coffee_pivot

Ticker Symbol    FARM  GMCR   JVA  PEET
Names Date
1972-12-29    -25.875   NaN   NaN   NaN
1973-01-31    -20.500   NaN   NaN   NaN
1973-02-28    -17.250   NaN   NaN   NaN
1973-03-30    -16.125   NaN   NaN   NaN
1973-04-30    -12.875   NaN   NaN   NaN
...               ...   ...   ...   ...
2021-08-31      7.400   NaN  4.97   NaN
2021-09-30      8.410   NaN  4.55   NaN
2021-10-29      7.550   NaN  4.44   NaN
2021-11-30      6.290   NaN  4.39   NaN
2021-12-31      7.450   NaN  4.39   NaN

[589 rows x 4 columns]

In [100]:
coffee_pivot.isna().sum()

Ticker Symbol
FARM      0
GMCR    402
JVA     389
PEET    448
dtype: int64

In [101]:
coffee_pivot.dtypes

Ticker Symbol
FARM    float64
GMCR    float64
JVA     float64
PEET    float64
dtype: object

## alc_df

In [102]:
alc_df.dtypes

PERMNO                                              int64
Names Date                                 datetime64[ns]
Standard Industrial Classification Code             int64
Ticker Symbol                                      object
Company Name                                       object
Price or Bid/Ask Average                          float64
dtype: object

In [103]:
len(alc_df["Ticker Symbol"].unique())

94

In [104]:
alc_df.duplicated("Names Date")

0        False
1        False
2        False
3        False
4        False
         ...
12033     True
12034     True
12035     True
12036     True
12037     True
Length: 12038, dtype: bool

In [105]:
alc_pivot = alc_df.pivot_table(index = "Names Date", columns = "Ticker Symbol", values = "Price or Bid/Ask Average")
alc_pivot

Ticker Symbol,ABEV,ABUD,ABV,ABW,ACCOB,ADC,ADSO,AED,AFTI,BACA,...,SXC,TAP,TBVT,TFI,TFZ,THT,THTR,TYLR,VCO,VO
Names Date,,,,,,,,,,,,,,,,,,,,,
1962-07-31,NaN,NaN,NaN,NaN,NaN,37.000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1962-08-31,NaN,NaN,NaN,NaN,NaN,37.250,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1962-09-28,NaN,NaN,NaN,NaN,NaN,37.250,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1962-10-31,NaN,NaN,NaN,NaN,NaN,33.375,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1962-11-30,NaN,NaN,NaN,2.5,NaN,39.625,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-08-31,3.26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,-6.887501,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-09-30,2.76,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,-3.660000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-10-29,2.96,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,-6.307501,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-11-30,2.82,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,48.924999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-12-31,2.80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,52.174999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Merging Sin and Productivity Stocks

In [106]:
stonks = pd.concat([alc_pivot, coffee_pivot], axis = 1, join = "outer")
stonks = stonks.abs()
stonks

In [88]:
fama_df

,Excess Return on the Market,Small-Minus-Big Return,High-Minus-Low Return,Momentum Factor
Date (SAS). Last Trading Day of the Month,,,,
1926-07-31,0.0296,-0.0238,-0.0273,NaN
1926-08-31,0.0264,-0.0147,0.0414,NaN
1926-09-30,0.0036,-0.0139,0.0012,NaN
1926-10-30,-0.0324,-0.0013,0.0065,NaN
1926-11-30,0.0253,-0.0016,-0.0038,NaN
...,...,...,...,...
2020-08-31,0.0763,-0.0022,-0.0293,0.0051
2020-09-30,-0.0363,-0.0004,-0.0266,0.0305
2020-10-30,-0.0210,0.0439,0.0419,-0.0303
2020-11-30,0.1247,0.0574,0.0199,-0.1225
2020-12-31,0.0463,0.0483,-0.0156,-0.0242

# Merging Stocks and Fama French

In [111]:
stonks_fama = pd.concat([stonks, fama_df], axis = 1, join = "inner")
stonks_fama

I use an inner join (Intercepts only) because it doesn't make sense to care about Fama French data when there's no equity data available anyway.

# Merging Stocks + Fama French AND US Recession Dummies

In [112]:
nber_df

            DATE  USREC
0     1854-12-01      1
1     1855-01-01      0
2     1855-02-01      0
3     1855-03-01      0
4     1855-04-01      0
...          ...    ...
2004  2021-12-01      0
2005  2022-01-01      0
2006  2022-02-01      0
2007  2022-03-01      0
2008  2022-04-01      0

[2009 rows x 2 columns]

In [113]:
nber_df.dtypes

DATE     object
USREC     int64
dtype: object

In [114]:
nber_df["DATE"] = pd.to_datetime(nber_df["DATE"])

In [116]:
nber_df

## Converting dates to last day of the month

In [117]:
from pandas.tseries.offsets import MonthEnd

nber_df["DATE"] = pd.to_datetime(nber_df["DATE"]) + MonthEnd(0)
nber_df.set_index("DATE", inplace=True)
nber_df

            USREC
DATE
1854-12-31      1
1855-01-31      0
1855-02-28      0
1855-03-31      0
1855-04-30      0
...           ...
2021-12-31      0
2022-01-31      0
2022-02-28      0
2022-03-31      0
2022-04-30      0

[2009 rows x 1 columns]

In [119]:
final_merged = pd.concat([stonks_fama, nber_df], axis = 1, join = "inner")

final_merged

,ABEV,ABUD,ABV,ABW,ACCOB,ADC,ADSO,AED,AFTI,BACA,...,VO,FARM,GMCR,JVA,PEET,Excess Return on the Market,Small-Minus-Big Return,High-Minus-Low Return,Momentum Factor,USREC
1962-07-31,NaN,NaN,NaN,NaN,NaN,37.000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0628,0.0163,-0.0357,0.0055,0
1962-08-31,NaN,NaN,NaN,NaN,NaN,37.250,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0213,0.0125,-0.0121,-0.0058,0
1962-10-31,NaN,NaN,NaN,NaN,NaN,33.375,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,-0.0005,-0.0401,0.0135,0.0075,0
1962-11-30,NaN,NaN,NaN,2.5,NaN,39.625,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.1087,0.0259,0.0099,-0.0717,0
1962-12-31,NaN,NaN,NaN,2.5,NaN,38.000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0101,-0.0380,0.0035,0.0588,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-07-31,2.68,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,4.98,NaN,2.81,NaN,0.0577,-0.0227,-0.0146,0.0761,0
2020-08-31,2.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,6.29,NaN,3.19,NaN,0.0763,-0.0022,-0.0293,0.0051,0
2020-09-30,2.26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,4.42,NaN,3.48,NaN,-0.0363,-0.0004,-0.0266,0.0305,0
2020-11-30,2.66,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,4.45,NaN,3.94,NaN,0.1247,0.0574,0.0199,-0.1225,0
2020-12-31,3.06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,4.67,NaN,3.84,NaN,0.0463,0.0483,-0.0156,-0.0242,0

In [120]:
final_merged.rename(columns = {"Small-Minus-Big Return": "SMB", "High-Minus-Low Return": "HML", "Momentum Factor": "MOM"}, inplace=True)

In [121]:
final_merged.to_csv("final_merged.csv")

# There are missing months in the datetime index of the merged_df
- I ran some diagnostics and found out that some dataframes do not accurately store the last day of the month as the datetimeindex

## Troubleshooting 1963-06-30
- This is one of the missing months from the final merged dataframe

In [ ]:
nber_df["1963-05-31": "1964-01-01"]

            USREC
DATE
1963-05-31      0
1963-06-30      0
1963-07-31      0
1963-08-31      0
1963-09-30      0
1963-10-31      0
1963-11-30      0
1963-12-31      0

In [ ]:
stonks_fama["1963-05-31": "1964-01-01"]

,ABEV,ABUD,ABV,ABW,ACCOB,ADC,ADSO,AED,AFTI,BACA,...,VCO,VO,FARM,GMCR,JVA,PEET,Excess Return on the Market,Small-Minus-Big Return,High-Minus-Low Return,Momentum Factor
1963-05-31,NaN,NaN,NaN,3.500,NaN,38.750,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0176,0.0107,0.0261,0.0037
1963-06-28,NaN,NaN,NaN,3.375,NaN,37.875,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,-0.0200,-0.0029,0.0077,0.0117
1963-07-31,NaN,NaN,NaN,3.750,NaN,37.375,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,-0.0039,-0.0053,-0.0089,0.0100
1963-08-30,NaN,NaN,NaN,4.500,NaN,42.000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0507,-0.0089,0.0168,0.0103
1963-09-30,NaN,NaN,NaN,3.750,NaN,40.500,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,-0.0157,-0.0035,0.0008,0.0016
1963-10-31,NaN,NaN,NaN,3.750,NaN,36.500,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0253,-0.0056,-0.0014,0.0314
1963-11-29,NaN,NaN,NaN,4.125,NaN,35.500,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,-0.0085,-0.0117,0.0181,-0.0075
1963-12-31,NaN,NaN,NaN,3.625,NaN,34.000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0183,-0.0211,-0.0008,0.0170

In [127]:
fama_df["1963-05-31": "1964-01-01"]

,Excess Return on the Market,Small-Minus-Big Return,High-Minus-Low Return,Momentum Factor
Date (SAS). Last Trading Day of the Month,,,,
1963-05-31,0.0176,0.0107,0.0261,0.0037
1963-06-28,-0.0200,-0.0029,0.0077,0.0117
1963-07-31,-0.0039,-0.0053,-0.0089,0.0100
1963-08-30,0.0507,-0.0089,0.0168,0.0103
1963-09-30,-0.0157,-0.0035,0.0008,0.0016
1963-10-31,0.0253,-0.0056,-0.0014,0.0314
1963-11-29,-0.0085,-0.0117,0.0181,-0.0075
1963-12-31,0.0183,-0.0211,-0.0008,0.0170

In [129]:
stonks["1963-05-31": "1964-01-01"]

Ticker Symbol,ABEV,ABUD,ABV,ABW,ACCOB,ADC,ADSO,AED,AFTI,BACA,...,TFZ,THT,THTR,TYLR,VCO,VO,FARM,GMCR,JVA,PEET
Names Date,,,,,,,,,,,,,,,,,,,,,
1963-05-31,NaN,NaN,NaN,3.500,NaN,38.750,NaN,NaN,NaN,NaN,...,11.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1963-06-28,NaN,NaN,NaN,3.375,NaN,37.875,NaN,NaN,NaN,NaN,...,12.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1963-07-31,NaN,NaN,NaN,3.750,NaN,37.375,NaN,NaN,NaN,NaN,...,7.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1963-08-30,NaN,NaN,NaN,4.500,NaN,42.000,NaN,NaN,NaN,NaN,...,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1963-09-30,NaN,NaN,NaN,3.750,NaN,40.500,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1963-10-31,NaN,NaN,NaN,3.750,NaN,36.500,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1963-11-29,NaN,NaN,NaN,4.125,NaN,35.500,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1963-12-31,NaN,NaN,NaN,3.625,NaN,34.000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Some months end on the WEEKENDS, which are not trading days

## Converting datetimeindexes in stonks_fama to the last day of the month

In [132]:
from pandas.tseries.offsets import MonthEnd
stonks_fama.reset_index(inplace=True)

stonks_fama["index"] = pd.to_datetime(stonks_fama["index"]) + MonthEnd(0)

stonks_fama.set_index("index", inplace=True)
stonks_fama

,ABEV,ABUD,ABV,ABW,ACCOB,ADC,ADSO,AED,AFTI,BACA,...,VCO,VO,FARM,GMCR,JVA,PEET,Excess Return on the Market,Small-Minus-Big Return,High-Minus-Low Return,Momentum Factor
index,,,,,,,,,,,,,,,,,,,,,
1962-07-31,NaN,NaN,NaN,NaN,NaN,37.000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0628,0.0163,-0.0357,0.0055
1962-08-31,NaN,NaN,NaN,NaN,NaN,37.250,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0213,0.0125,-0.0121,-0.0058
1962-09-30,NaN,NaN,NaN,NaN,NaN,37.250,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,-0.0522,-0.0248,0.0134,0.0395
1962-10-31,NaN,NaN,NaN,NaN,NaN,33.375,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,-0.0005,-0.0401,0.0135,0.0075
1962-11-30,NaN,NaN,NaN,2.5,NaN,39.625,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.1087,0.0259,0.0099,-0.0717
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-08-31,2.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,6.29,NaN,3.19,NaN,0.0763,-0.0022,-0.0293,0.0051
2020-09-30,2.26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,4.42,NaN,3.48,NaN,-0.0363,-0.0004,-0.0266,0.0305
2020-10-31,2.14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,3.47,NaN,3.81,NaN,-0.0210,0.0439,0.0419,-0.0303
2020-11-30,2.66,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,4.45,NaN,3.94,NaN,0.1247,0.0574,0.0199,-0.1225
2020-12-31,3.06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,4.67,NaN,3.84,NaN,0.0463,0.0483,-0.0156,-0.0242

### Sanity check to see that the transformation worked

In [133]:
stonks_fama["1963-05-31": "1964-01-01"]

,ABEV,ABUD,ABV,ABW,ACCOB,ADC,ADSO,AED,AFTI,BACA,...,VCO,VO,FARM,GMCR,JVA,PEET,Excess Return on the Market,Small-Minus-Big Return,High-Minus-Low Return,Momentum Factor
index,,,,,,,,,,,,,,,,,,,,,
1963-05-31,NaN,NaN,NaN,3.500,NaN,38.750,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0176,0.0107,0.0261,0.0037
1963-06-30,NaN,NaN,NaN,3.375,NaN,37.875,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,-0.0200,-0.0029,0.0077,0.0117
1963-07-31,NaN,NaN,NaN,3.750,NaN,37.375,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,-0.0039,-0.0053,-0.0089,0.0100
1963-08-31,NaN,NaN,NaN,4.500,NaN,42.000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0507,-0.0089,0.0168,0.0103
1963-09-30,NaN,NaN,NaN,3.750,NaN,40.500,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,-0.0157,-0.0035,0.0008,0.0016
1963-10-31,NaN,NaN,NaN,3.750,NaN,36.500,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0253,-0.0056,-0.0014,0.0314
1963-11-30,NaN,NaN,NaN,4.125,NaN,35.500,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,-0.0085,-0.0117,0.0181,-0.0075
1963-12-31,NaN,NaN,NaN,3.625,NaN,34.000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0183,-0.0211,-0.0008,0.0170

1963-06-30 appears as the last day of the month. Weekends are now accounted for

# Reattempting Merge

In [136]:
final_merged = pd.concat([stonks_fama, nber_df], axis = 1, join = "inner")
final_merged.rename(columns = {"Small-Minus-Big Return": "SMB", "High-Minus-Low Return": "HML", "Momentum Factor": "MOM"}, inplace=True)
final_merged

,ABEV,ABUD,ABV,ABW,ACCOB,ADC,ADSO,AED,AFTI,BACA,...,VO,FARM,GMCR,JVA,PEET,Excess Return on the Market,SMB,HML,MOM,USREC
1962-07-31,NaN,NaN,NaN,NaN,NaN,37.000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0628,0.0163,-0.0357,0.0055,0
1962-08-31,NaN,NaN,NaN,NaN,NaN,37.250,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0213,0.0125,-0.0121,-0.0058,0
1962-09-30,NaN,NaN,NaN,NaN,NaN,37.250,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,-0.0522,-0.0248,0.0134,0.0395,0
1962-10-31,NaN,NaN,NaN,NaN,NaN,33.375,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,-0.0005,-0.0401,0.0135,0.0075,0
1962-11-30,NaN,NaN,NaN,2.5,NaN,39.625,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.1087,0.0259,0.0099,-0.0717,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-08-31,2.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,6.29,NaN,3.19,NaN,0.0763,-0.0022,-0.0293,0.0051,0
2020-09-30,2.26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,4.42,NaN,3.48,NaN,-0.0363,-0.0004,-0.0266,0.0305,0
2020-10-31,2.14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,3.47,NaN,3.81,NaN,-0.0210,0.0439,0.0419,-0.0303,0
2020-11-30,2.66,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,4.45,NaN,3.94,NaN,0.1247,0.0574,0.0199,-0.1225,0
2020-12-31,3.06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,4.67,NaN,3.84,NaN,0.0463,0.0483,-0.0156,-0.0242,0

In [138]:
final_merged.to_csv("final_merged.csv")