In [15]:
import pandas as pd
import matplotlib.pyplot as plt

In [16]:
universe_df = pd.read_csv("Stock_Universe.csv")
fama_df = pd.read_csv("Fama-French.csv")

In [17]:
universe_df

          gvkey  iid    datadate   tic    trt1m     naics     sic
0          1000   01  30/09/1970  AE.2      NaN       NaN  3089.0
1          1000   01  31/10/1970  AE.2   6.3830       NaN  3089.0
2          1000   01  30/11/1970  AE.2 -28.0000       NaN  3089.0
3          1000   01  31/12/1970  AE.2  11.1111       NaN  3089.0
4          1000   01  31/01/1971  AE.2 -10.0000       NaN  3089.0
...         ...  ...         ...   ...      ...       ...     ...
6967395  351371  01C  31/08/2019  ODD. -36.8421  722513.0  5812.0
6967396  351371  01C  30/09/2019  ODD.   0.0000  722513.0  5812.0
6967397  351371  01C  31/10/2019  ODD. -16.6667  722513.0  5812.0
6967398  351371  01C  30/11/2019  ODD.  40.0000  722513.0  5812.0
6967399  351371  01C  31/12/2019  ODD. -28.5714  722513.0  5812.0

[6967400 rows x 7 columns]

In [18]:
universe_df.drop(columns = ["gvkey", "iid"])

           datadate   tic    trt1m     naics     sic
0        30/09/1970  AE.2      NaN       NaN  3089.0
1        31/10/1970  AE.2   6.3830       NaN  3089.0
2        30/11/1970  AE.2 -28.0000       NaN  3089.0
3        31/12/1970  AE.2  11.1111       NaN  3089.0
4        31/01/1971  AE.2 -10.0000       NaN  3089.0
...             ...   ...      ...       ...     ...
6967395  31/08/2019  ODD. -36.8421  722513.0  5812.0
6967396  30/09/2019  ODD.   0.0000  722513.0  5812.0
6967397  31/10/2019  ODD. -16.6667  722513.0  5812.0
6967398  30/11/2019  ODD.  40.0000  722513.0  5812.0
6967399  31/12/2019  ODD. -28.5714  722513.0  5812.0

[6967400 rows x 5 columns]

In [19]:
universe_df["tic"].unique()

array(['AE.2', 'AMFD.', 'AAIC.1', ..., 'TECT.', 'GMG.', 'ODD.'],
      dtype=object)

In [20]:
len(universe_df["tic"].unique())

50934

In [21]:
fama_df

         dateff   mktrf     smb     hml      rf     umd
0    31/01/1962 -0.0387  0.0182  0.0507  0.0024 -0.0203
1    28/02/1962  0.0181 -0.0120  0.0091  0.0020 -0.0101
2    30/03/1962 -0.0068  0.0048 -0.0133  0.0020  0.0184
3    30/04/1962 -0.0659 -0.0069  0.0002  0.0022  0.0291
4    31/05/1962 -0.0865 -0.0335  0.0281  0.0024  0.0041
..          ...     ...     ...     ...     ...     ...
691  30/08/2019 -0.0258 -0.0233 -0.0489  0.0016  0.0692
692  30/09/2019  0.0143 -0.0097  0.0688  0.0018 -0.0681
693  31/10/2019  0.0206  0.0025 -0.0191  0.0016  0.0015
694  29/11/2019  0.0387  0.0085 -0.0209  0.0012 -0.0266
695  31/12/2019  0.0277  0.0070  0.0180  0.0014 -0.0177

[696 rows x 6 columns]

# Filtering Universe of Stocks

## Sin Stocks

In [31]:
sic_sin = [2080, 2082, 2083, 2084, 2085] + [x for x in range(2100, 2200)]

naics_sin_amusement = [7132, 71312,713120, 713210, 71329, 713290, 72112, 721120]
naics_sin_no_amuse = [7132, 713210, 71329, 713290, 72112, 721120]
sic_sin

[2080,
 2082,
 2083,
 2084,
 2085,
 2100,
 2101,
 2102,
 2103,
 2104,
 2105,
 2106,
 2107,
 2108,
 2109,
 2110,
 2111,
 2112,
 2113,
 2114,
 2115,
 2116,
 2117,
 2118,
 2119,
 2120,
 2121,
 2122,
 2123,
 2124,
 2125,
 2126,
 2127,
 2128,
 2129,
 2130,
 2131,
 2132,
 2133,
 2134,
 2135,
 2136,
 2137,
 2138,
 2139,
 2140,
 2141,
 2142,
 2143,
 2144,
 2145,
 2146,
 2147,
 2148,
 2149,
 2150,
 2151,
 2152,
 2153,
 2154,
 2155,
 2156,
 2157,
 2158,
 2159,
 2160,
 2161,
 2162,
 2163,
 2164,
 2165,
 2166,
 2167,
 2168,
 2169,
 2170,
 2171,
 2172,
 2173,
 2174,
 2175,
 2176,
 2177,
 2178,
 2179,
 2180,
 2181,
 2182,
 2183,
 2184,
 2185,
 2186,
 2187,
 2188,
 2189,
 2190,
 2191,
 2192,
 2193,
 2194,
 2195,
 2196,
 2197,
 2198,
 2199]

In [32]:
len(universe_df[universe_df["sic"].isin(sic_sin)].tic.unique())

192

In [33]:
len(universe_df[universe_df["naics"].isin(naics_sin_amusement)].tic.unique())

146

In [34]:
sin_stocks = universe_df[((universe_df["sic"].isin(sic_sin)) | (universe_df["naics"].isin(naics_sin_amusement)))]

In [35]:
sin_stocks

          gvkey iid    datadate    tic    trt1m     naics     sic
64525      1320  01  30/09/1972  ALV.3      NaN       NaN  2080.0
64526      1320  01  31/10/1972  ALV.3   9.0498       NaN  2080.0
64527      1320  01  30/11/1972  ALV.3  -3.7344       NaN  2080.0
64528      1320  01  31/12/1972  ALV.3   7.3276       NaN  2080.0
64529      1320  01  31/01/1973  ALV.3  18.0723       NaN  2080.0
...         ...  ..         ...    ...      ...       ...     ...
6966149  319432  90  31/08/2019  EVVTY -14.6033  713290.0  7990.0
6966150  319432  90  30/09/2019  EVVTY   4.8342  713290.0  7990.0
6966151  319432  90  31/10/2019  EVVTY  21.5022  713290.0  7990.0
6966152  319432  90  30/11/2019  EVVTY  10.4744  713290.0  7990.0
6966153  319432  90  31/12/2019  EVVTY  13.9760  713290.0  7990.0

[57029 rows x 7 columns]

In [36]:
len(sin_stocks["tic"].unique())

338

## Comparables

In [28]:
sic_comparables = [x for x in range(2000, 2047)] + [x for x in range(2050, 2064)] + [x for x in range(2070, 2080)] + [2090, 2091, 2092, 2095, 2099] + [x for x in range(2064, 2069)] + [2087, 2096, 2097]

sic_comparables += [x for x in range(7800, 7830)] + [x for x in range(7830, 7834)] + [7840, 7841, 7900, 7910, 7911] + [x for x in range(7920, 7930)] + [x for x in range(7930, 7934)] + [x for x in range(7940,7950)] + [7980] + [x for x in range(7990, 8000)]

sic_comparables += [x for x in range(5800, 5820)] + [x for x in range(5820, 5830)] + [x for x in range(5890, 5900)] + [7000] + [x for x in range(7010, 7020)] + [x for x in range(7040, 7050)] + [7213]

sic_comparables

[2000,
 2001,
 2002,
 2003,
 2004,
 2005,
 2006,
 2007,
 2008,
 2009,
 2010,
 2011,
 2012,
 2013,
 2014,
 2015,
 2016,
 2017,
 2018,
 2019,
 2020,
 2021,
 2022,
 2023,
 2024,
 2025,
 2026,
 2027,
 2028,
 2029,
 2030,
 2031,
 2032,
 2033,
 2034,
 2035,
 2036,
 2037,
 2038,
 2039,
 2040,
 2041,
 2042,
 2043,
 2044,
 2045,
 2046,
 2050,
 2051,
 2052,
 2053,
 2054,
 2055,
 2056,
 2057,
 2058,
 2059,
 2060,
 2061,
 2062,
 2063,
 2070,
 2071,
 2072,
 2073,
 2074,
 2075,
 2076,
 2077,
 2078,
 2079,
 2090,
 2091,
 2092,
 2095,
 2099,
 2064,
 2065,
 2066,
 2067,
 2068,
 2087,
 2096,
 2097,
 7800,
 7801,
 7802,
 7803,
 7804,
 7805,
 7806,
 7807,
 7808,
 7809,
 7810,
 7811,
 7812,
 7813,
 7814,
 7815,
 7816,
 7817,
 7818,
 7819,
 7820,
 7821,
 7822,
 7823,
 7824,
 7825,
 7826,
 7827,
 7828,
 7829,
 7830,
 7831,
 7832,
 7833,
 7840,
 7841,
 7900,
 7910,
 7911,
 7920,
 7921,
 7922,
 7923,
 7924,
 7925,
 7926,
 7927,
 7928,
 7929,
 7930,
 7931,
 7932,
 7933,
 7940,
 7941,
 7942,
 7943,
 7944,
 7945,
 7946,
 7947,
 7948,
 7949,
 7980,
 7990,
 7991,
 7992,
 7993,
 7994,
 7995,
 7996,
 7997,
 7998,
 7999,
 5800,
 5801,
 5802,
 5803,
 5804,
 5805,
 5806,
 5807,
 5808,
 5809,
 5810,
 5811,
 5812,
 5813,
 5814,
 5815,
 5816,
 5817,
 5818,
 5819,
 5820,
 5821,
 5822,
 5823,
 5824,
 5825,
 5826,
 5827,
 5828,
 5829,
 5890,
 5891,
 5892,
 5893,
 5894,
 5895,
 5896,
 5897,
 5898,
 5899,
 7000,
 7010,
 7011,
 7012,
 7013,
 7014,
 7015,
 7016,
 7017,
 7018,
 7019,
 7040,
 7041,
 7042,
 7043,
 7044,
 7045,
 7046,
 7047,
 7048,
 7049,
 7213]

In [29]:
comparable_stocks = universe_df[universe_df["sic"].isin(sic_comparables)]
comparable_stocks

          gvkey  iid    datadate    tic    trt1m     naics     sic
95         1001   01  30/09/1983  AMFD.      NaN     722.0  5812.0
96         1001   01  31/10/1983  AMFD.  10.2041     722.0  5812.0
97         1001   01  30/11/1983  AMFD.  18.5185     722.0  5812.0
98         1001   01  31/12/1983  AMFD.  -9.3750     722.0  5812.0
99         1001   01  31/01/1984  AMFD.  10.3448     722.0  5812.0
...         ...  ...         ...    ...      ...       ...     ...
6967395  351371  01C  31/08/2019   ODD. -36.8421  722513.0  5812.0
6967396  351371  01C  30/09/2019   ODD.   0.0000  722513.0  5812.0
6967397  351371  01C  31/10/2019   ODD. -16.6667  722513.0  5812.0
6967398  351371  01C  30/11/2019   ODD.  40.0000  722513.0  5812.0
6967399  351371  01C  31/12/2019   ODD. -28.5714  722513.0  5812.0

[289966 rows x 7 columns]

In [30]:
len(comparable_stocks["tic"].unique())

1981

## Comparables Stock